
#Land {
    cursor: pointer;
}

.cls-1{isolation:isolate;}
.cls-3{fill: #1c2026;}
#Dwb{fill: #0378fe;}
#Dwc{fill:#4d52b4;}
#Cfb{fill:#69fe55;}
#Dfa{fill:#04fefe;}
#Dwa{fill:#a8affc;}
#Am{fill:#0378fe;}
#Dfd{fill:#024861;}
#Cfa{fill:#c7ff52;}
#Csb{fill:#c8c80c;}
#Csa{fill:#fdf909;}
#Af{fill:#0304fe;}
#BSh{fill:#f2a405;}
#Dwd{fill:#320987;}
#Cwb{fill:#6bce6e;}
#EF{fill:#676767;}
#Aw_As{fill:#48aaf7;}
#Cwa{fill:#95fc95;}
#Dsa{fill:#ff00fe;}
#Dfc{fill:#047e7f;}
#BWh{fill:#ff0201;}
#Dsc_Dsd{fill:#923896;}
#BWk{fill:#ff9895;}
#ET{fill:#b2b3b3;}
#BSk{fill:#fad967;}
#Dsb{fill:#c90cc8;}
#Dfb{fill:#38c8fc;}

.map {
    margin: 0;
}

#container {
    height:90%;
    width:100%;
    margin: 0;
}

#climates {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 236, 250);
    position: fixed;
    margin: 0;
    height:100%;
    width: 100%;
}

#selected {
    background-color: whitesmoke;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 10%;
}